// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #57C5C2
$secondary = #1EB1AD
$tertiary  = #555

$neutral   = #E0E1E2
$positive  = #4CAF50
$negative  = #F44336
$info      = #2196F3
$warning   = #FFEB3B

@import '~quasar-variables'
